app/html/pages/technology/_technology-person.html

<section class="technology-person">
  <div class="technology-person__photo" style="background-image: url(&quot;img/technology/1-big_82911416389045-portret.png&quot;);"></div>
  <div class="technology-person__name">Head of the Technical Department</div>
  <section class="go-to-all-projects go-to-all-projects--2">
    <div class="go-to-all-projects__content" style="background-image: url(&quot;img/technology/1-project-photo.jpg&quot;);"><a class="btn btn-2" href="contact-us.html">View all projects</a></div>
  </section>
</section>

app/pug/pages/Technology/_technology-person.pug
//- блок с фото автора статьи
section.technology-person
  .technology-person__photo(style='background-image: url("img/technology/1-big_82911416389045-portret.png")')
  .technology-person__name Head of the Technical Department
  //- ссылка на страницу проектов не видна до 1024, появляется на 1024
  include ../../pages/Technology/_technology-go-to-projects2
